.logo {
}

.logo img {
  width: 164px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI";
}

.right ul {
  display: flex;
  gap: 34px;
}

.right ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.right ul li span {
  padding: 0 5px;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 70px;
  font-family: sans-serif;
}

.first span {
  font-size: 40px;
}

section span img {
  width: 50px;
  margin: 0 23px;
}

.first p {
  font-size: 23px;
  width: 54vw;
  text-align: center;
}

.btn {
  background: #00b6d1;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 14px 16px;
  font-weight: 700;
  margin: 12px 0px;
  cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}

.green {
  background-color: rgb(126, 245, 126);
}

.small {
  font-size: 12px;
}

.second {
  max-width: 65vw;
  margin: auto;
}

.item {
  padding: 23px;
  background: rgb(237, 231, 231);
  border-radius: 12px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.item-lang {
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.download :nth-child(2){
    font-size: 23px;
}
.download img{
    padding: 0px 12px;
}
.download{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
}

@media screen and (max-width:945px) {
    .grid{
        grid-template-columns: 1fr;
    }
}